.about-title {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    margin-top: -100px;
}

.hover-img {
    height: 38px;
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 47%;
    z-index: -1;
}

.heading {
    position: relative;
    margin-top: 10px;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.about-info {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.certificate-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certificate {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 2%;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
}

.certificate-img {
    height: 250px;
    width: 380px;
    margin-top: 24px;
    margin-left: 20px;
    margin-bottom: 120px;
}

.certificate span {
    background: linear-gradient(267deg, #DA7C25 0.40%, #B923E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .about-title {
        font-size: 36px;
        margin-top: 10px;
    }

    .hover-img{
    height: 20px;
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 43%;
    z-index: -1;
    }
    .about-info {
        font-size: 18px;
        margin: 20px;
    }

    .certificate {
        margin-left: 0;
        font-size: 20px;
    }

    .certificate-img {
        width: 60%;
        height: auto;
        margin-bottom: 2px;

    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .about-title {
        font-size: 42px;
    }

    .about-info {
        font-size: 19px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .certificate {
        margin-left: 0;
        text-align: center;
    }

    .certificate-img {
        width: 70%;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .about-info {
        margin-left: 10%;
        margin-right: 10%;
    }

    .certificate-img {
        width: 350px;
    }
}
