
.about-title{
    text-align: center;
    font-size: 40px;
}
.about-section{
    display: flex;
    margin: 40px 270px;
    justify-content: space-between;
}
.about-right{
    display: flex;
    flex-direction: column;
}
.about-info{
    padding-left: 70px;
    padding-right: 8px;
}
.about{
    
}
.about-skills{

}
.about-skill{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap:20px;
    border-width: 2px ;
    padding-left: 70px;
    padding-right: 8px;
}